################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ExamSERAFIN_July2019/v16/Server/sqlite3
